{% extends "admin/base.html" %}

{% block content %}
  <div class="container">
    <div class="nav nav-tabs nav-fill pt-5">
      <a class="nav-item nav-link active" data-toggle="tab" href="#draws" role="tab">Draws</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#candidates" role="tab">Candidates</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#countries" role="tab">Configure countries</a>
      <a class="nav-item nav-link" data-toggle="tab" href="#domains" role="tab">Configure domains</a>
    </div>
    <div id="nav-tabContent" class="tab-content">
      
      <div id="countries" class="tab-pane fade" role="tabpanel">
        <h3 class="text-center pt-5 d-block">Eligible Countries</h3>
        <div class="form-group">
          <label for="new_country">Add a new country</label>
          <select id="new_country" class="form-control custom-select">
            {% for country in countries_list %}
              <option value="{{country[0]}}">{{country[1]}}</option>
            {% endfor %}
          </select>
          <button class="btn btn-primary btn-outlined float-right modal-action" id="add_country" onclick="addCountry()">Add</button>
        </div>
        <div id="allowed_country">
          {% for country in countries %}
            <div>
              <span id="allow_{{country.value}}">{{country.value}}</span>
              <button id="remove_country_{{country.id}}" onclick="removeCountry('{{country.id}}')">Remove</button>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="domains" class="tab-pane fade" role="tabpanel">
        <h3 class="text-center pt-5 d-block">Eligible email domains</h3>
        <div class="form-group">
          <label for="domain">Add a new domain</label>
          <input type="text" id="domain" class="form-control" placeholder="Domain" onkeydown="domainNewKey();">
        </div>

        <div id="allowed_email_domains">
          {% for domain in domains %}
            <div>
              <span id="allow_{{domain.value}}">{{domain.value}}</span>
              <button id="remove_domain_{{domain.id}}" onclick="removeDomain('{{domain.id}}')">Remove</button>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="candidates"  class="tab-pane fade" role="tabpanel">
        <h3 class="text-center pt-5 d-block">Candidates</h2>
        <div>
          <form id="form_get_candidates" class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="first_day">First day of the period</label>
                <input class="form-control" type="text" id="first_day" requiered placeholder="First day (YYYY-MM-DD)" pattern="\d{4}-\d{2}-\d{2}" title="Date format should be YYYY-MM-DD">
              </div>
              <div class="col-md-6">
                <label for="last_day">Last day of the period</label>
                <input class="form-control" type="text" id="last_day" required placeholder="Last day (YYYY-MM-DD)" pattern="\d{4}-\d{2}-\d{2}" title="Date format should be YYYY-MM-DD">
              </div>  
            </div>
            <button class="btn btn-primary btn-outlined float-right modal-action" id="get_candidates" onclick="retrieveCandidates(); return false;">Get gift candidates</button>
          </form>
          <a id="download_candidates" style="display: none;" >download as csv</a>
        </div>
        <div id="display_candidates"></div>
      </div>
      <div id="draws"  class="tab-pane fade show active" role="tabpanel">
        <h3 class="text-center pt-5 d-block">Generate draw</h3>
        <div>
          <form id="form_draws">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="draw_first_day">First day of the period</label>
                <input class="form-control" type="text" id="draw_first_day" required placeholder="first day (YYYY-MM-DD)" pattern="\d{4}-\d{2}-\d{2}" title="Date format should be YYYY-MM-DD">
              </div>
              <div class="form-group col-md-6">
                <label for="draw_last_day">Last day of the period</label>
                <input class="form-control" type="text" id="draw_last_day" required placeholder="last_day (YYYY-MM-DD)" pattern="\d{4}-\d{2}-\d{2}" title="Date format should be YYYY-MM-DD">
              </div>
            </div> 
            <div class="row">
              <div class="form-group col-md-4">
                <label for="draws_nb_winners">Number of winners</label>
                <input class="form-control" type="number" id="draws_nb_winners" required min="1" value="1">
              </div>
              <div class="form-group col-md-4">
                <label for="draws_min_solves">Minimum number of solves</label>
                <input class="form-control" type="number" id="draws_min_solves" required min="0" value="1">
              </div>
              <div class="form-group col-md-4">
                <label for="draws_max_solves">Maximum number of solves</label>
                <input class="form-control" type="number" id="draws_max_solves" required min="0" value="1">
              </div>
            </div>
            <button class="btn btn-primary btn-outlined float-right modal-action" id="get_draws" onclick="draw(); return false;">Let's draw</button>
          </form>
          
        </div>
        <div id="draw_results">
          <a id="download_draw" style="display: none;" >download as csv</a>
          <div id="display_winners"></div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/plugins/GetGiftCandidates/assets/js/draw.js"></script>
{% endblock %}